{% load widget_tweaks %}

<h1> Add a question to </h1>
<h2> Quiz {{ quiz.title }} </h2>
  <form method="POST" action="">{% csrf_token %}
        <table width="100%">
          <col style="width:60%">
          <col style="width:20%">
          
          <tr>
              <th>Question Text</th>
              <th>Point Value{{form.point_value}}</th>
              <th>In Quiz{{form.inquiz}}</th>
              
          </tr>
        </table>
        <table width="100%">
          <col style="width:100%">
          <tr>
            <th>{{ form.question_text }}</th>
          </tr>
        </table>    
            <table width="100%">
              <col style="width:60%">
              <col style="width:10%">

              <tr>
                <td>Answer a:</td>
                <td>Mark Correct</td>
              </tr>  
                <td>{{form.answer_a}}</td>
                <td>{{form.a_is_correct}}</td>
              </tr>
              <tr>
                <td>Answer b:</td>
                <td></td>
              </tr>
              <tr>
                <td>{{form.answer_b}}</td>
                <td>{{form.b_is_correct}}</td>
              </tr>  
                <td>Answer c:</td>
                <td></td>
              </tr>
              <tr>
                <td>{{form.answer_c}}</td>
                <td>{{form.c_is_correct}}</td>
              </tr>
              <tr>
                <td>Answer d:</td>
                <td></td>
              </tr>      
              <tr>
                <td>{{form.answer_d}}</td>
                <td>{{form.d_is_correct}}</td>
              </tr>          
            </table>    
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update Question</button>
            </div>
  </form>
<a href="/quizlist/">Finished Adding Questions</a>
